<div class="p-2 bg2 basis-1/5" style="width: 320px;">
    <p class="ml-1 font-weight-bold text-white" style="font-size: 130%">MANAGE</p>
    <div class="row m-0 px-2">
        <div class="col-12 p-0 py-1 h-fit bg1">
            <div class="p-2" style="height: 55px;">
                <div class="float-left mr-3 text-center bg3" style="width: 40px;height: 40px;">
                    <i class="fa fa-user-circle-o text-white" aria-hidden="true" style="font-size: 160%;line-height: 40px"></i>
                </div>
                <div class="float-left">
                    <p class="text-white mb-0"><%= user.fullName%></p>
                    <% if (user.isAdmin) { %>
                    <p class=" mb-0 text-white">Administrator</p>
                    <% } else { %>
                        <p class=" mb-0 text-white">Worker</p>
                    <% } %>
                </div>
                <a class="p-2 bg2 float-right" href="/api/users/logout" class="bg2 float-right text-center" style="width: 40px;height: 100%;">
                    <i class="fa fa-power-off text-white" aria-hidden="true" style="font-size: 130%;line-height: 39px"></i>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full pt-4">
            <a class="p" href="/api/invoice/analytics/"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Analytics</p>
                    <i class="fa fa-bar-chart text-white float-right" aria-hidden="true" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Home</p>
                    <i class="fa-solid fa-house text-white float-right" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/api/products/view"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Product</p>
                    <i class="fa fa fa-cutlery text-white float-right" aria-hidden="true" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/api/Expenses/view"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Expenses</p>
                    <i class="fa-solid fa-cheese text-white float-right" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/settings"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Settings</p>
                    <i class="fa fa-cogs text-white float-right" aria-hidden="true" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/api/users/change-password"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Account</p>
                    <i class="fa fa fa fa-key text-white float-right" aria-hidden="true" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <a class="p" href="/profits"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Profits</p>
                    <i class="fa-solid fa-dollar-sign text-white float-right" aria-hidden="true" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <% if (user.isAdmin ) { %>
            <a class="p" href="/api/users/manage-users"  style="height: 80px;">
                <div class="bg1 p-2" style="height: 100%;">
                    <p class="text-white mb-0" style="opacity: 0.7">Manage Users</p>
                    <i class="fa-solid fa-user-gear text-white float-right" style="font-size: 190%;opacity: 0.5"></i>
                </div>
            </a>
            <% } %>
            
        </div>
        
    </div>
</div>