<!DOCTYPE html>
<html>
<head>
	<title>Checkin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="flex-container">
		<div class="main-list" style="background-color: #0bca8d;width:460px;">
			<h1>Dashborad</h1>
			<div style="display: inline-flex;width: 100%;color: #000000;background-color: #ffffff;">
				<div style="font-size: 15px;margin-top: 29px;line-height: 1.2;margin-right: 93px;">
					<h2>ROONY</h2>
					<p>AD-IOS</p>
				</div>
				<img src="admin.jpg" style="width: 100px;height: 100px;margin-right: 45px;"/>
			</div>
			<div class="checkin-list">
				<div>
                    <span><i class="fa fa-plus"></i></span>
                    <span style="margin-right: 50%;">Voucher</span>
                    
                </div>
				<div>
                    <span style="margin-right: 50%;">Sale</span>
                    <span>20%</span>
                </div>
				<div>
                    <span style="margin-right: 50%;">Total</span>
                    <span>2000$</span>
                </div>

				<div><button>Checkout</button></div>
			</div>
		</div>
	<div class="checkin" style="width: 55%;">
        <div>
            <button style="margin-left: 400px;">Back</button>
            <input placeholder="Search" class="checkininput">
            <button>Drink</button>
            <button>Food</button>
            
            <div style="clear: both;"></div>
        </div>

        <div style="margin-right:20px;margin-top:20px;width: 97%;flex-wrap:wrap;line-height: normal;display:inline-flex;color:#000000;">
            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>
            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>

            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>

            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>

            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>

            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>


            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>


            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>


            <div style="margin-bottom:20px;margin-left:42px;padding:10px;display: flex; background-color: aquamarine;">
                <div>
                <img src="admin.jpg" width="100px" height="100px"> 
                </div>
                <div>
                    <h2>Papir</h2>
                    <span>600$</span>
                </div>
            </div>
        </div>
	</div>
</div>
</body>
</html>