<!DOCTYPE html>
<html>
<head>
	<title>Checkout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="style.css">


</head>
<body>
<div class="flex-container">
	<div class="main-list" style="background-color: #0bca8d;width:460px;">
		<h1>Dashborad</h1>
		<div style="display: inline-flex;width: 100%;color: #000000;background-color: #ffffff;">
			<div style="font-size: 15px;margin-top: 29px;line-height: 1.2;margin-right: 93px;">
				<h2>ROONY</h2>
				<p>AD-IOS</p>
			</div>
			<img src="admin.jpg" style="width: 100px;height: 100px;margin-right: 45px;"/>
		</div>
		<div class="setting-list">
			<div>Setting</div>
			<div>Product</div>
			<div>Profit</div>
			<div>Expenses </div>
			<div>Invoice</div>
			<div>Users</div>
			<div>Log out</div>
		</div>
	</div>
    
	<div style="line-height: 50px;">
        <div style="position: absolute;background: none;border: none;margin: auto;top: 20px;">
            <button class="btn" style="margin-left: 350px;">Back</button>
        </div>
        <table class="table" style=" width: 110vh;margin-top: 120px; ">
            <tr  style="line-height: 0%;">
                <th>#</th>
                <th>Name</th>
                <th>QTY</th>
                <th>Price</th>
            </tr>
            <tr style="line-height: 0%;">
                <td>1</td>
                <td>kintaki</td>
                <td>2</td>
                <td>6$</td>
            </tr>
            <tr  style="line-height: 0%;">
                <td>1</td>
                <td>kintaki</td>
                <td>2</td>
                <td>6$</td>
            </tr>
            <tr  style="line-height: 0%;">
                <td>1</td>
                <td>kintaki</td>
                <td>2</td>
                <td>6$</td>
            </tr>
        </table>
        <div id="flex-container">
            <div id="flex-item-resived"></div>
            <div id="flex-item-return"><input placeholder="Reseved" style="width: 100%;height: 100%;text-align: center;font-size: 20px;background-color: #59b799;"></div>

        </div>
        <div id="flex-container">
            <div id="flex-item-finish"><i class="fa fa-print"></i></div>
            <div id="flex-item-print">Finish</div>
        </div>
	</div>


</div>
</body>
</html>
