<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/output.css">
</head>
<style type="text/css">
	.bg1{
		background: #1e202c;
	}
	.bg2{
		background: #0BCA8D;
	}
	.bg3{
		background: #292b37;
	}
	.dot-pending{
		color: #f8ca30;
	}
	.dot-danger{
		color: #f8728a;
	}
	.dot-success{
		color: #0bcb90;
	}
	*{
		font-family: 'Arvo', serif;
	}
</style>
<body>

	<div class="container-fluid p-0">
		<div class="flex flex-row-reverse">
			
			<!-- This is the End -->
			<div class="flex flex-col  items-center w-full basis-4/5">
				<div class="p-3 w-full">
					<p class="float-left text-black font-weight-bold mb-0" style="font-size: 130%">Settings</p>
					<button onclick="previous()" class="btn bg-[#0BCA8D] shadow-2xl float-right">Back</button>
					<div style="clear: both;"></div>
				</div>
				<form class="bg-green-400 rounded-2xl mt-32 w-[50%] p-12 flex flex-col items-center justify-center" action="/api/expenses/delete/<%= id %>" method="post" class="flex">
                        <h1 class=" pb-4">Are you sure you want to delete this item</h1>
                        <div class="flex flex-row">
                            <button class="p-3 rounded-2xl bg-red-300 text-red-600 hover:bg-red-500 hover:text-red-700">Delete</button>
                            <div class="w-12"></div>
                            <a href="/api/expenses/view" class="p-3 rounded-2xl bg-white text-black hover:bg-black hover:text-white">Cancel</a>
                        </div>

                </form>
            </div>
			<%- include('partials/sidebar') %>
		</div>
	</div>
	
		<script>
			function previous() {
				window.history.back()
			}
		</script>
	<script src="/js/Checkout.js" defer></script>
	<script src="https://kit.fontawesome.com/c31ef39b02.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>