<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/test">
        <input type="radio" id="true" name="true_1" value="true">
        <input type="radio" id="false" name="false_1" value="false">
        <input type="radio" id="add" name="add_1" value="add">
        <input type="number" id="quantity" name="quantity" min="1" max="5">

        <button>Submit</button>
</form>		
</body>
</html>