<!DOCTYPE html>
<html>
<head>
	<title>Invoice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="flex-container">
	<div class="main-list" style="background-color: #0bca8d;width:460px;">
		<h1>Dashborad</h1>
		<div style="display: inline-flex;width: 100%;color: #000000;background-color: #ffffff;">
			<div style="font-size: 15px;margin-top: 29px;line-height: 1.2;margin-right: 93px;">
				<h2>ROONY</h2>
				<p>AD-IOS</p>
			</div>
			<img src="admin.jpg" style="width: 100px;height: 100px;margin-right: 45px;"/>
		</div>
		<div class="setting-list">
			<div>Setting</div>
			<div>Product</div>
			<div>Profit</div>
			<div>Expenses </div>
			<div>Invoice</div>
			<div>Users</div>
			<div>Log out</div>
		</div>
	</div>
    
	<div class="grid-container" style="line-height: 50px;">
        <div style="direction:ltr;color:#000;position: absolute;background: none;border: none;margin: auto;top: -25px;width: 50%;">
            
            <label style="font-size: 18px;" for="date-input">Choose a date:</label>
            <input type="date" id="date-input" name="date-input">
            <input type="button" class="btn" style="width: 15%;
            font-size: 15px;
            height: 30px;" value="Select Date" onclick="">
            <button class="btn" style="margin-left: 350px;">Back</button>
        </div>
        <div style="    
      position: absolute;
    border: none;
    color: #000000;
    left: 455px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    direction: ltr;
    top: 205px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;">2023-2-26 12:30 by ROONY, table Namber : 1</div>
        <table class="table" style=" width: 200vh; ">
            <tr  style="line-height: 0%;">
                <th>#</th>
                <th>Name</th>
                <th>QTY</th>
                <th>Price</th>
            </tr>
            <% for (let i = 0; i < invoice.orderFood.length; i++) { %>
                <tr  style="line-height: 0%;">
                    <td><%= i %></td>
                    <td><%= invoice.orderFood[i].product.name %></td>
                    <td><%= invoice.orderFood[i].amount %></td>
                    <td><%= invoice.orderFood[i].product.price %>$</td>
                </tr>
                <% } %>
        </table>
	</div>
</div>
</body>
</html>
