
<!DOCTYPE html>
<html>
<head">
	<title>Profit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
    <link href="/output.css" rel="stylesheet">

    

</head>
<body>
    <div class="flex-container min-h-[100vh] justify-center items-center">
        
        <form class="w-[40%] bg-green-400 p-8 rounded-2xl text-white" action="/api/products/delete/<%= id %>" method="post">
            
                <h1 class="p-3 rounded-md text-red-700 bg-red-400 text-center">Are you sure you want to delete this Product</h1>
                
            
            <div class="flex justify-center">
                <button class="bg-slate-800 rounded-2xl mx-auto w-24 h-12 text-center mt-6 hover:bg-slate-300 hover:text-black" type="submit">Submit</button>
            </div>
        </form>
    </div>
<script src="/js/main.js" defer></script>
	
<script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
<script src="../node_modules/flowbite/dist/flowbite.min.js"></script>

</body>
</html>
