<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form method="post" class="bg-gray-600 " ref='uploadForm' action="/api/products/delete/<%= id %>" >
        

        <button>delete products</button>
    </form>
</body>
</html>