<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="flex-container">
	<div class="main-list" style="background-color: #0bca8d;width:460px;">
		<h1>Dashborad</h1>
		<div style="display: inline-flex;width: 100%;color: #000000;background-color: #ffffff;">
			<div style="font-size: 15px;margin-top: 29px;line-height: 1.2;margin-right: 93px;">
				<h2>ROONY</h2>
				<p>AD-IOS</p>
			</div>
			<img src="admin.jpg" style="width: 100px;height: 100px;margin-right: 45px;"/>
		</div>
		<div class="setting-list">
			<div>Setting</div>
			<div>Product</div>
			<div>Profit</div>
			<div>Expenses </div>
			<div>Invoice</div>
			<div>Users</div>
			<div>Log out</div>
		</div>
	</div>
    
	<div id="userpage" style="padding-top: 75px;">
                <div class="container">
                   <table class="users-info">
                            <tr>
                                <th>Sequenece</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                 <th>Username</th>
                                <th>Password</th>
                                <th>Method</th>
                            </tr>
                            <tr> 
                                <td>1</td>
                                <td>Roony</td>
                                <td>Revenge</td>
                                <td>Revenge</td>
                                 <td>rao1283764</td>
                                   
                                <td>
                                    <button class="btn">
                                    <a href="">
                                        Edit
                                    </a>
                                    
                                    </button>
                                    <button class="btn"><a href="">
                                        Delete
                                    </a></button>
                                </td>
                            </tr>
                            <tr> 
                                <td>1</td>
                                <td>Roony</td>
                                <td>Revenge</td>
                                <td>Revenge</td>
                                 <td>rao1283764</td>
                                   
                                <td>
                                    <button class="btn">
                                    <a href="">
                                        Edit
                                    </a>
                                    
                                    </button>
                                    <button class="btn"><a href="">
                                        Delete
                                    </a></button>
                                </td>
                            </tr>
                            <tr> 
                                <td>1</td>
                                <td>Roony</td>
                                <td>Revenge</td>
                                <td>Revenge</td>
                                 <td>rao1283764</td>
                                   
                                <td>
                                    <button class="btn">
                                    <a href="">
                                        Edit
                                    </a>
                                    
                                    </button>
                                    <button class="btn"><a href="">
                                        Delete
                                    </a></button>
                                </td>
                            </tr>
                   </table>
                </div>
                    <div class="container">
                        <div class="addnew-user-customer-details">
                                    <p style="color: red"></p>
                                  <h3>Add New User</h3>
                                <form action="" method="post">
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="First Name" name="first_name" />
                                    </div>
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="Last Name" name="last_name" />
                                    </div>
                                    <div class="form-control">
                                    
                                        <input type="text" placeholder="Username" name="username" />
                                    </div>
                                    <div class="form-control">
                                    
                                        <input type="password" placeholder="Password" name="pass_entry" />
                                    </div>
                                    <button class="btn">Add</button>
                                </form>
                        </div>
                    </div>

	</div>
</div>
</body>
</html>
